@import "../../../mixin.scss";
.projects {
	// background: #F1E2FF;
	&__container {
		display: flex;
		justify-content: center;
		flex-grow: 1;
		max-width: 1050px;
		margin: 0 auto;
		padding: 0 15px;
	}
	&__content {
		display: flex;
		flex-direction: column;
		// border: black 1px solid;

		// .projects__block_items{
		// 	display: flex;
		// 	justify-content: space-between;
		// 	flex-wrap: wrap;
		// 	gap: 20px;
		// 	@media (max-width: 834px) {
		// 		justify-content: center;
		// 		padding: 0 15px;
		// 	 }
		// }
	}
	&__title{
		opacity: 0;
		animation: animateTitle 0.7s ease 1 1.1s forwards;
		font-size: rem(50);
		font-weight: 700;
	}
}
@keyframes animateTitle {
	0% {transform: translate(0,20px);}
	100% {transform: translate(0px,0px);opacity: 1}
}