@import '../../../mixin.scss';
@mixin animationCoin($translateX, $translateY, $number) {
  animation: animateCoin + $number 3s linear 1s infinite;
  @keyframes #{animateCoin + $number} {
    0% {
    }
    20% {
      transform: translate(var($translateX), calc(var($translateY) - 100px));
    }
    100% {
      transform: translate(-50%, -50%);
    }
  }
}

:root {
  @include adaptiveValue('--translate-Y', 89, 44, 536, 378, 1);
  @include adaptiveValue('--translate-Y1', 445, 277, 536, 378, 1);
  @include adaptiveValue('--translate-X1', 228, 174, 536, 378, 1);
  @include adaptiveValue('--translate-Y2', 465, 290, 536, 378, 1);
  @include adaptiveValue('--translate-X2', 35, 28, 536, 378, 1);
  @include adaptiveValue('--translate-Y3', 542, 350, 536, 378, 1);
  @include adaptiveValue('--translate-X3', -18, -6, 536, 378, 1);
  @include adaptiveValue('--translate-Y4', 490, 319, 536, 378, 1);
  @include adaptiveValue('--translate-X4', 235, 182, 536, 378, 1);
  @include adaptiveValue('--translate-Y5', 487, 316, 536, 378, 1);
  @include adaptiveValue('--translate-X5', 129, 106, 536, 378, 1);
  @include adaptiveValue('--translate-Y6', 490, 319, 536, 378, 1);
  @include adaptiveValue('--translate-X6', -59, -42, 536, 378, 1);
  @include adaptiveValue('--translate-Y7', 432, 282, 536, 378, 1);
  @include adaptiveValue('--translate-X7', 276, 218, 536, 378, 1);
  @include adaptiveValue('--translate-Y8', 435, 285, 536, 378, 1);
  @include adaptiveValue('--translate-X8', 88, 70, 536, 378, 1);
  @include adaptiveValue('--translate-Y9', 432, 282, 536, 378, 1);
  @include adaptiveValue('--translate-X9', -18, -6, 536, 378, 1);
  @include adaptiveValue('--translate-Y10', 380, 251, 536, 378, 1);
  @include adaptiveValue('--translate-X10', 235, 182, 536, 378, 1);
  @include adaptiveValue('--translate-Y11', 377, 248, 536, 378, 1);
  @include adaptiveValue('--translate-X11', 129, 106, 536, 378, 1);
  @include adaptiveValue('--translate-Y12', 380, 251, 536, 378, 1);
  @include adaptiveValue('--translate-X12', -59, -42, 536, 378, 1);
  @include adaptiveValue('--translate-Y13', 322, 214, 536, 378, 1);
  @include adaptiveValue('--translate-X13', 276, 218, 536, 378, 1);
  @include adaptiveValue('--translate-Y14', 325, 217, 536, 378, 1);
  @include adaptiveValue('--translate-X14', 88, 70, 536, 378, 1);
  @include adaptiveValue('--translate-Y15', 322, 214, 536, 378, 1);
  @include adaptiveValue('--translate-X15', -18, -6, 536, 378, 1);
  @media (max-width: 377px) {
    --translate-Y: 27px;
    --translate-Y1: 316px;
    --translate-X1: 208px;
    --translate-Y2: 318px;
    --translate-X2: 112px;
    --translate-Y3: 316px;
    --translate-X3: 81px;
    --translate-Y4: 318px;
    --translate-X4: -49px;
    --translate-Y5: 282px;
    --translate-X5: 209px;
    --translate-Y6: 284px;
    --translate-X6: 95px;
    --translate-Y7: 282px;
    --translate-X7: 69px;
    --translate-Y8: 284px;
    --translate-X8: -55px;
    --translate-Y9: 248px;
    --translate-X9: 217px;
    --translate-Y10: 250px;
    --translate-X10: 89px;
    --translate-Y11: 248px;
    --translate-X11: 81px;
    --translate-Y12: 250px;
    --translate-X12: -64px;
    --translate-Y13: 214px;
    --translate-X13: 135px;
    --translate-Y14: 216px;
    --translate-X14: 41px;
    --translate-Y15: 214px;
    --translate-X15: 25px;
  }
  @media (max-width: 375px) {
    --translate-Y: 27px;
    --translate-X9: 172px;
    --translate-X10: 45px;
    --translate-X11: 36px;
    --translate-Y12: 216px;
    --translate-X12: 145px;
    --translate-X13: 90px;
    --translate-X14: -4px;
    --translate-X15: -19px;
  }
  @media (max-width: 354px) {
    --translate-Y: 44px;
    --translate-Y1: 350px;
    --translate-Y2: 352px;
    --translate-Y3: 350px;
    --translate-Y4: 353px;
    --translate-X4: -50px;
    --translate-Y5: 316px;
    --translate-X5: 163px;
    --translate-Y6: 319px;
    --translate-X6: 49px;
    --translate-Y7: 316px;
    --translate-X7: 24px;
    --translate-X8: 127px;
    --translate-Y9: 282px;
    --translate-X9: 72px;
    --translate-Y10: 285px;
    --translate-X10: -55px;
    --translate-X11: 203px;
    --translate-Y12: 251px;
    --translate-X12: 59px;
    --translate-Y13: 248px;
    --translate-X13: 5px;
    --translate-Y14: 251px;
    --translate-X14: -90px;
    --translate-X15: 80px;
  }
  @media (max-width: 353px) {
    --translate-Y: 44px;
    --translate-X1: 160px;
    --translate-Y2: 353px;
    --translate-X2: 65px;
    --translate-X3: 34px;
    --translate-Y4: 319px;
    --translate-X4: 131px;
    --translate-X5: 71px;
    --translate-X6: -42px;
    --translate-Y7: 282px;
    --translate-X7: 207px;
    --translate-Y8: 285px;
    --translate-X8: 82px;
    --translate-X9: 27px;
    --translate-X10: -100px;
  }
  @media (max-width: 350px) {
    --translate-Y: 44px;
    --translate-X3: 33px;
    --translate-X7: 185px;
    --translate-X8: 61px;
    --translate-X9: 6px;
    --translate-Y10: 251px;
    --translate-X10: 166px;
    --translate-X11: 156px;
    --translate-X12: 13px;
    --translate-X13: -43px;
    --translate-Y14: 217px;
    --translate-X14: 71px;
    --translate-X15: 54px;
  }
  @media (max-width: 333px) {
    --translate-Y3: 350px;
    --translate-X3: 33px;
    --translate-X10: 135px;
    --translate-X11: 127px;
    --translate-X12: -18px;
    --translate-Y13: 214px;
    --translate-X13: 135px;
    --translate-X14: 40px;
    --translate-X15: 25px;
  }
  @media (max-width: 294px) {
    --translate-X3: 33px;
    --translate-X7: 139px;
    --translate-X8: 15px;
    --translate-Y9: 248px;
    --translate-X9: 172px;
    --translate-X10: 45px;
    --translate-X11: 36px;
    --translate-Y12: 217px;
    --translate-X12: 145px;
    --translate-X13: 90px;
    --translate-X14: -3px;
    --translate-X15: -20px;
  }
  @media (max-width: 280px) {
    --translate-Y: 61px;
    --translate-Y1: 383px;
    --translate-Y2: 386px;
    --translate-Y3: 383px;
    --translate-Y4: 352px;
    --translate-X4: 132px;
    --translate-Y5: 349px;
    --translate-Y6: 352px;
    --translate-Y7: 315px;
    --translate-Y8: 318px;
    --translate-Y9: 281px;
    --translate-Y10: 284px;
    --translate-Y11: 281px;
    --translate-Y12: 250px;
    --translate-X12: 115px;
    --translate-Y13: 247px;
    --translate-X13: 59px;
    --translate-Y14: 250px;
    --translate-X14: -34px;
    --translate-Y15: 213px;
    --translate-X15: 80px;
  }
}
.skills {
  display: flex;
  flex-grow: 1;
  // background: #DDFEE9;
  &__container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 15px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 20px;
  }
  &__title {
    opacity: 0;
    animation: animateTitle 0.7s ease 1 1.1s forwards;
    font-size: rem(50);
    font-weight: 700;
  }
  &__block_items {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    // max-width: 430px;
    justify-content: center;
    @include adaptiveValue('row-gap', 15, 10, 536, 378, 1);
    @include adaptiveValue('column-gap', 20, 10, 536, 378, 1);
    @include adaptiveValue('width', 450, 250, 536, 280, 1);
    @media (max-width: 360px) {
      // gap: 10px 10px;
    }
  }
  &__item {
    position: relative;
    color: #f9c655;
    text-align: center;
    border: 1px solid white;
    border-radius: 30px;
    @include adaptiveValue('line-height', 20, 15, 536, 378, 1);
    @include adaptiveValue('width', 127, 102, 536, 378, 1);
    @include adaptiveValue('padding-top', 10, 5, 536, 378, 1);
    @include adaptiveValue('padding-bottom', 8, 2, 536, 378, 1);
    @include adaptiveValue('padding-left', 10, 5, 536, 378, 1);
    @include adaptiveValue('padding-right', 10, 5, 536, 378, 1);
    @include adaptiveValue('font-size', 20, 17, 536, 378, 1);
    transition: opacity linear 0.3s, color linear 0.3s;
    &::before {
      content: '';
      z-index: 30;
      position: absolute;
      top: 50%;
      left: 50%;
      // left: 0px;
      // width: 100%;
      // height: 100%;
      height: 12px;
      width: 12px;
      border-radius: 50px;
      // @include adaptiveValue('width', 15, 15, 536, 378, 1);
      transform: translate(-50%, -50%);
      transition: width 3s linear, height 0.7s linear;
    }
    @media (max-width: 377px) {
      width: unset;
      display: flex;
    }
    &:nth-child(1) {
      &::before {
        background: green;
        transform: translate(var(--translate-X1), var(--translate-Y1));
        @include animationCoin(--translate-X1, --translate-Y1, 1);
      }
    }
    &:nth-child(2) {
      &::before {
        background: green;
        transform: translate(var(--translate-X2), var(--translate-Y2));
        @include animationCoin(--translate-X2, --translate-Y2, 2);
      }
    }
    //  @keyframes animateCoin {
    //    0% {
    //    }
    //    20% {
    //      transform: translate(var(--translate-X1), calc(var(--translate-Y1) - 100px));
    //    }
    //    100% {
    //      transform: translate(-50%, -50%);
    //    }
    //  }
    //  &:nth-child(3) {
    //    &::before {
    //      background: red;
    //      transform: translate(var(--translate-X3), var(--translate-Y3));
    //      width: 40px;
    //      @include adaptiveValue('width', 40, 23, 536, 378, 1);
    //    }
    //  }
    //  &:nth-child(4) {
    //    &::before {
    //      background: red;
    //      transform: translate(var(--translate-X4), var(--translate-Y4));
    //      width: 40px;
    //      @include adaptiveValue('width', 40, 23, 536, 378, 1);
    //    }
    //  }
    //  &:nth-child(5) {
    //    &::before {
    //      background: green;
    //      transform: translate(var(--translate-X5), var(--translate-Y5));
    //      width: 40px;
    //      @include adaptiveValue('width', 40, 23, 536, 378, 1);
    //    }
    //  }
    //  &:nth-child(6) {
    //    &::before {
    //      background: green;
    //      transform: translate(var(--translate-X6), var(--translate-Y6));
    //      width: 40px;
    //      @include adaptiveValue('width', 40, 23, 536, 378, 1);
    //    }
    //  }
    //  &:nth-child(7) {
    //    &::before {
    //      background: red;
    //      transform: translate(var(--translate-X7), var(--translate-Y7));
    //      width: 40px;
    //      @include adaptiveValue('width', 40, 23, 536, 378, 1);
    //    }
    //  }
    //  &:nth-child(8) {
    //    &::before {
    //      background: red;
    //      transform: translate(var(--translate-X8), var(--translate-Y8));
    //      width: 40px;
    //      @include adaptiveValue('width', 40, 23, 536, 378, 1);
    //    }
    //  }
    //  &:nth-child(9) {
    //    &::before {
    //      background: green;
    //      transform: translate(var(--translate-X9), var(--translate-Y9));
    //      width: 40px;
    //      @include adaptiveValue('width', 40, 23, 536, 378, 1);
    //    }
    //  }
    //  &:nth-child(10) {
    //    &::before {
    //      background: green;
    //      transform: translate(var(--translate-X10), var(--translate-Y10));
    //      width: 40px;
    //      @include adaptiveValue('width', 40, 23, 536, 378, 1);
    //    }
    //  }
    //  &:nth-child(11) {
    //    &::before {
    //      background: red;
    //      transform: translate(var(--translate-X11), var(--translate-Y11));
    //      width: 40px;
    //      @include adaptiveValue('width', 40, 23, 536, 378, 1);
    //    }
    //  }
    //  &:nth-child(12) {
    //    &::before {
    //      background: red;
    //      transform: translate(var(--translate-X12), var(--translate-Y12));
    //      width: 40px;
    //      @include adaptiveValue('width', 40, 23, 536, 378, 1);
    //    }
    //  }
    //  &:nth-child(13) {
    //    &::before {
    //      background: green;
    //      transform: translate(var(--translate-X13), var(--translate-Y13));
    //      width: 40px;
    //      @include adaptiveValue('width', 40, 23, 536, 378, 1);
    //    }
    //  }
    //  &:nth-child(14) {
    //    &::before {
    //      background: green;
    //      transform: translate(var(--translate-X14), var(--translate-Y14));
    //      width: 40px;
    //      @include adaptiveValue('width', 40, 23, 536, 378, 1);
    //    }
    //  }
    //  &:nth-child(15) {
    //    &::before {
    //      background: red;
    //      transform: translate(var(--translate-X15), var(--translate-Y15));
    //      width: 40px;
    //      @include adaptiveValue('width', 40, 23, 536, 378, 1);
    //    }
    //  }
  }
  &__absolute {
    // position: absolute;
  }
}
@keyframes animateTitle {
  0% {
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
.avatarBackPlate {
  //   border: 1px solid green;
  @include adaptiveValue('width', 320, 245, 536, 378, 1);
  @include adaptiveValue('height', 371, 254, 536, 378, 1);
}
.avatarSpeed {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}
.avatar {
  //  will-change: transform;
  transform: translate3d(0, -600px, 0);
  -webkit-transform: translate3d(0, -600px, 0);
  //   border: 1px solid red;
  position: absolute;
  margin: 0 auto;
  opacity: 0;
  @include adaptiveValue('width', 320, 245, 536, 378, 1);
  animation: animateTitleAvatar 0.6s linear 1 1.8s forwards;
}
@keyframes animateTitleAvatar {
  0% {
    opacity: 1;
  }
  100% {
    transform: translate3d(0, var(--translate-Y), 0);
    -webkit-transform: translate3d(0, var(--translate-Y), 0);
    opacity: 1;
  }
}
