@import "../../../mixin.scss";
.skills {
	// background: #DDFEE9;
	&__container {
		display: flex;
		justify-content: center;
		flex-grow: 1;
		max-width: 1050px;
		margin: 0 auto;
		padding: 0 15px;
	}
	&__content {
		display: flex;
		flex-direction: column;
		// border: black 1px solid;
	}
	&__title {
		opacity: 0;
		animation: animateTitle 0.7s ease 1 1.1s forwards;
		font-size: rem(50);
		font-weight: 700;
	}
	// &__block_items {
	// display: flex;
	// justify-content: space-between;
	// gap: 30px;
	// @media (max-width: 650px) {
	// 	padding: 0 15px;
	// 	flex-wrap: wrap;
	// 	justify-content: center;
	//  }
	// }
}
@keyframes animateTitle {
	0% {transform: translate(0,20px);}
	100% {transform: translate(0px,0px);opacity: 1}
}