@import "../../../../mixin.scss";
.about__invitation{
		opacity: 0;
		animation: animate 0.7s ease 1 19.2s forwards;
		display: flex;
		font-size: 22px;
		line-height: 30px;
		font-weight: 700;
		@include adaptiveValue("font-size",22,16,371,280,1); // Galaxy fold
		@include adaptiveValue("line-height",30,25,319,280,1); // Galaxy fold
		&::before{
			content:'';
			position: absolute;
			width: 2px;
			height: 26px;
			bottom: 4px;
			right: 0px;
			background: red;
			animation: typewriter ease 1s infinite;
		}
	}
	@keyframes typewriter {
		1% {background:transparent}
		20% {background:transparent}
	}
	@keyframes animate {
		0% {transform: translate(0,20px);}
		100% {transform: translate(0px,0px); opacity:1}
	}
	.typewriter{
		font-size: 22px;
		line-height: 30px;
		font-weight: 700;
		@include adaptiveValue("font-size",22,16,371,280,1); // Galaxy fold
		@include adaptiveValue("line-height",30,25,319,280,1); // Galaxy fold
	}
	.typewriterCursor{
		opacity: 0;
	}