@import "../../mixin.scss";
.footer {
	position: relative;
	z-index: 4;
	@media (max-width: 377px) {
		display: none;
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 5;
	}
	&__container {
	max-width: 1050px;
	margin: 0 auto;
	padding: 0 15px ;
	}
	&__content {
		text-align: center;
		padding: 15px 0;
		.footer__block_social{
			animation: animateFooter 0.7s ease 1 1.7s forwards;
			opacity: 0;
			display: flex;
			justify-content: center;
			gap: 20px;
			margin: 0px 0px 20px 0px; 
			@include adaptiveValue("margin-bottom",20,10,500,320,1);
			@media (max-width: 377px) {
				animation: animateFooter 0.7s ease 1 .8s forwards;
			}
			.footer__pic_social{
				width: 30px;
				height: 30px;
				border-radius: 50%;
				overflow: hidden;
				position: relative;
				transition: all 0.1s linear;
				&::before{
					content:'';
					position: absolute;
					z-index: -1;
					bottom: 1px;
					left: 1px;
					width: 28px;
					height: 28px;
					background: white;
					border-radius: 50%;
				}
				&:hover{
					transition: all 0.1s ease;
					transform: translate(0,-2px);
					&::before{
					background: #F9C847;
					}
				}
				.footer__social_img{
				width: 30px;
				height: 30px;
				}
			}
		}
		.footer__copyrights{
			display: flex;
			justify-content: center;
			animation: animateFooter 0.7s ease 1 1.8s forwards;
			opacity: 0;
			position: relative;
			line-height: 22px;
			color: rgb(112, 108, 108);
			@media (max-width: 377px) {
				animation: animateFooter 0.7s ease 1 .9s forwards;
				flex-direction: column;
				align-items: center;
				}
			.footer__copyrights_second_line{
				display: flex;
				position: relative;
			}
			.year_container{
				display: inline-block;
				margin: 0px 0px 0px 35px;
			}
			.copyright{
				display: inline-block;
				position: relative;
				top: -2px;
				right: -2px;
			}
		}
	}
}
@keyframes animateFooter{
	0% {transform: translate(0,20px);opacity: 0;}
	100% {transform:translate(0,0px);opacity: 1}
}
// @media(hover: hover) and (pointer: coarse){
// 	.footer__pic_social:hover::before{
// 		background: #F9C847;
// 		}
// }