.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  min-height: 100%;
  //  background: #1c1d25;
  &::after {
    content: '';
    transform: translate3d(0, 0, 0);
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 0vh;
    transition: all ease 0.5s;
    background: linear-gradient(to bottom, rgba(28, 29, 37, 1) 0%, rgba(249, 200, 71, 1) 100%);
  }
}
.menuOpen {
  &::after {
    transform: translate3d(0, 0, 0);
    height: 100vh;
    @media (min-width: 536px) {
      transform: translate3d(0, 0, 0);
      height: 0;
    }
  }
}
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.logo_container {
  overflow: hidden;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 110px;
  height: 80px;
  animation: scale 0.39s linear 2.9s forwards;
}
.logo {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  animation: bGround 0s linear 1.95s forwards;
}
.waveContainer {
  animation: fillTheWave 2s 1 linear forwards;
}
.wave {
  width: 348px;
  height: 110px;
}
.waveSubBlock1 {
  width: 100%;
  height: 5px;
  background: url('../src/img/wave.png') 100% / 40px 5px repeat-x;
}
.waveSubBlock2 {
  background: #f9c847;
  width: 100%;
  height: 100%;
}
@keyframes fillTheWave {
  0% {
    transform: rotate(90deg) translate3d(-80px, 110px, 0);
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(90deg) translate3d(-350px, -5px, 0);
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes bGround {
  0% {
    background: #f9c847;
  }
  100% {
    background: #f9c847;
  }
}
