@import './common/styles/mixins/mixin';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;

  font-family: 'League Spartan', Helvetica, Arial, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: rem(16);
  line-height: 1;
  color: white;

  background-color: #1c1d25;

  -webkit-font-smoothing: antialiased;

  /* // При тапах убирает прямоугольники фоновые */
  -webkit-tap-highlight-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body::after {
  content: url('./assets/img/Icons/codears_logo.svg') url('./assets/img/Icons/github_logo.svg')
    url('./assets/img/Icons/heart_logo_white.svg') url('./assets/img/Icons/linkedin_logo.svg')
    url('./assets/img/Icons/logo.svg') url('./assets/img/Icons/react_logo.svg')
    url('./assets/img/Icons/telegram_logo.svg');

  position: absolute;
  z-index: -1;

  overflow: hidden;

  width: 0;
  height: 0;
}
