@import './reset.scss';
// @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&family=Poppins:wght@300;500;600;700&display=swap&subset=cyrillic-ext");
// @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');
@font-face {
  font-family: 'League Spartan';
  src: url('./fonts/LeagueSpartan-Medium-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'League Spartan';
  src: url('./fonts/LeagueSpartan-SemiBold-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'League Spartan';
  src: url('./fonts/LeagueSpartan-Bold-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'League Spartan', 'Helvetica', 'Arial', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  //   -webkit-font-smoothing: none ;
  //   -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
#root {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
