.contacts {
	background: #FFE2E2;
	&__container {
	max-width: 1050px;
	margin: 0 auto;
	padding: 70px 15px;
	@media (max-width: 583px) {
		padding: 30px 15px;
	}
	}
	&__content {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		padding: 0 10px;
		border: black 1px solid;
		.contacts__title {
			margin: 0px 0px 40px 0px;
		}
		.contacts__form {
			display: flex;
			flex-direction: column;
			margin: 0px 0px 40px 0px;
			.contacts__input {
				margin: 0px 0px 10px 0px;
			}
			.contacts__textarea {
			}
		}
		.contacts__form_button {
			display: inline-block;
			padding: 10px;
			cursor: pointer;
		}
	}
}